<div class="container">
  <div class="row">
    <div class='col-md-6'>
      <div>Photo List</div>
      <app-photo-list></app-photo-list>
    </div>
    <div class='col-md-6'>
      <div>Side Panel</div>
      <app-side-panel></app-side-panel>
    </div>
  </div>
</div>
