<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="collapse navbar-collapse" id="">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/"><img
          src="https://upload.wikimedia.org/wikipedia/commons/6/6d/Windows_Settings_app_icon.png" width="30" height="30"
          class="d-inline-block align-top" alt=""></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="photo-list">Photo-List <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="side-panel">Side-Panel</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Side-panel</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a *ngIf="!loginService.checkLogin()" class="nav-link" routerLink="/register">
          Register
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login" (click)="onClick()">
          {{loginService.checkLogin() ? 'Logout' : 'Login'}}
        </a>
      </li>
    </ul>

  </div>
</nav>
