<div class="container">
  <form (ngSubmit)="onSubmit()" [hidden]="loginService.checkLogin()">
    <div class="row">
      <label for="username">Username</label>
      <input id="username" type="text" required [(ngModel)]="model.username" ngControl="username" placeholder="Username" name="username" required><br>
    </div>

    <div class="row">
      <label for="password">Password</label>
      <input id="password" type="password" required [(ngModel)]="model.password" ngControl="password" placeholder="password" name="password" required>
    </div>

    <button type="submit" class="button btn-primary">Submit</button>
  </form>

  <div [hidden]="!loginService.checkLogin()">
    <h3>Logged In Successfully! </h3>
    <h2>Welcome back, {{currentUserName}}!</h2>
  </div>

</div>
