<div>PHOTO LIST WORKS!</div>
<div class='photo-list'>
  <div *ngFor="let photo of photos">

    <img src='http://localhost:8080/images/{{photo.imageName}}' class='ui image big centered' (click)="onSelect(photo)" style="cursor: pointer">
    <div class="left floated column left aligned">
      <strong>{{photo.title}}</strong><br/>
      {{photo.description}}
    </div>
    <div class="right floated column right aligned">
      {{photo.likes}} &nbsp; Likes
    </div>

  </div>
</div>
